.header {
  position: fixed;
  top: 0;
  left: 220px; /* Comienza donde termina el sidebar */
  right: 0; /* Se extiende hasta el borde derecho */
  height: 55px;
  background:#03083e;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 4px 20px rgba(170, 167, 167, 0.1);
  z-index: 1000;
  border-bottom: 2px solid #1e1e1e;
  transition: left 0.3s ease-in-out; /* Quitamos width de la transición */
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
}

.company-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .brand-icon {
  font-size: 2rem;
  animation: bounce 2s infinite;
} */

.brand-name {
  font-size: 0.7rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(238, 224, 225, 0.2);
  letter-spacing: 1px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .header {
    padding: 0 1rem;
  }
  
  .brand-name {
    font-size: 1.2rem;
  }
  
  .header-right {
    gap: 1rem;
  }
}