.kpi-badge {
  background-color: #ffffff; /* Color pastel */
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 13px;
  color: #000000;
}
.label {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #ffffff;
}

.label span {
  font-weight: bold;
}