/* Contenedor principal con flexbox */
.app-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: rgb(247, 248, 249);

}

/* Sidebar fijo */
.sidebar {
    width: 220px;
    height: 100vh; /* Cambiado de calc(100vh - 70px) a 100vh */
    position: fixed;
    top: 0; /* Cambiado de 70px a 0 */
    left: 0;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
    background-color: #03083e;
}

/* Contenedor del contenido */
.main-content {
    margin-left: 220px;
    margin-top: 70px; /* AÑADIDO: Margen superior para el header */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease-in-out;
    font-size: 12.5px;
    height: calc(100vh - 70px); /* AÑADIDO: Altura ajustada */
}

/* Header container - puedes eliminar esta clase si no la usas */
.header-container {
    padding: 10px;
}

.content {
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
    height: 100%; /* AÑADIDO */
}