<div class="user-menu" (click)="toggleDropdown()">
  <div class="user-info">
    <fa-icon [icon]="faUser"></fa-icon>

    <span class="name">{{ user.fullName }}</span>
    <span class="dropdown-arrow">▼</span>
  </div>
  <div class="dropdown" [class.show]="isDropdownOpen">
    <div class="dropdown-header">
      <fa-icon [icon]="faUser" class="avatar-large"></fa-icon>

      <div class="user-details">
        <span class="full-name">{{ user.fullName }}</span>
        <span class="email">{{ user.email }}</span>
        <span class="role">{{ user.role }}</span>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="dropdown-options">
      <div class="option">Mi Perfil</div>
      <div class="option" (click)="logout()">Cerrar Sesión</div>
    </div>
  </div>
</div>
