<nav class="sidebar">
  <div class="logo-container">
    <a routerLink="/home">
      <img
        class="company-logo"
        src="icon-image-modified.png"
        alt="PAL MUNDO LOGO"
      />
    </a>
  </div>

  <div class="menu-scroll">
    <div class="menu-content">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio">
            <fa-icon [icon]="faHome"></fa-icon> Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clients">
            <fa-icon [icon]="faUsers"></fa-icon> Clientes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/trips">
            <fa-icon [icon]="faRoute"></fa-icon> Viajes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/trip-catalog">
            <fa-icon [icon]="faListAlt"></fa-icon> Catálogo de Viajes
          </a>
        </li>
        
        <!-- Menú desplegable de Ventas -->
        <li class="nav-item">
          <div class="nav-link menu-toggle" (click)="toggleSales()">
            <fa-icon [icon]="faCashRegister"></fa-icon> Ventas
            <fa-icon [icon]="isSalesOpen ? faChevronUp : faChevronDown" class="ms-auto toggle-icon"></fa-icon>
          </div>
          <ul class="submenu" [class.show]="isSalesOpen">
            <li><a class="nav-link submenu-item" routerLink="/trips">Venta Individual</a></li>
            <li><a class="nav-link submenu-item" routerLink="/trip-catalog">Viaje Programado</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/transport">
            <fa-icon [icon]="faBus"></fa-icon> Transporte
          </a>
        </li>
        
        <!-- Menú desplegable de Reportes -->
        <li class="nav-item">
          <div class="nav-link menu-toggle" (click)="toggleReports()">
            <fa-icon [icon]="faChartBar"></fa-icon> Reportes
            <fa-icon [icon]="isReportsOpen ? faChevronUp : faChevronDown" class="ms-auto toggle-icon"></fa-icon>
          </div>
          <ul class="submenu" [class.show]="isReportsOpen">
            <li><a class="nav-link submenu-item" routerLink="/money-report">Reporte de Dinero</a></li>
            <li><a class="nav-link submenu-item" routerLink="/passenger-report">Reporte de Pasajeros por Unidad</a></li>
            <li><a class="nav-link submenu-item" routerLink="/debtor-passenger">Reporte de Pasajeros Deudores</a></li>
            <li><a class="nav-link submenu-item" routerLink="/reports/sales">Reporte de Ventas</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/my-transport">
            <fa-icon [icon]="faBusAlt"></fa-icon> Mi Transporte
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/payments">
            <fa-icon [icon]="faMoneyBillWave"></fa-icon> Pagos
          </a>
        </li>
        <li class="nav-item">
          <div class="nav-link menu-toggle" (click)="toggleAdmin()">
            <fa-icon [icon]="faUserCog"></fa-icon> Administración
            <fa-icon [icon]="isAdminOpen ? faChevronUp : faChevronDown" class="ms-auto toggle-icon"></fa-icon>
          </div>
          <ul class="submenu" [class.show]="isAdminOpen">
            <li><a class="nav-link submenu-item" routerLink="/contract-view">Contratos</a></li>
            <li><a class="nav-link submenu-item" routerLink="/administration/accounting">Contabilidad</a></li>
            <li><a class="nav-link submenu-item" routerLink="/administration/roomings-list">Roomings List</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="logout-section">
    <button type="button" class="logout-btn">
      <fa-icon [icon]="faSignOutAlt"></fa-icon> Cerrar Sesión
    </button>
  </div>
</nav>