<nav class="sidebar">
  <div class="logo-container">
    <a routerLink="/home">
      <img
        class="company-logo"
        src="icon-image-modified.png"
        alt="PAL MUNDO LOGO"
      />
    </a>
  </div>
  <div class="menu-content">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="/inicio"
              ><i class="fas fa-bullhorn"></i> Inicio</a
            >
          </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clients"
          ><i class="fas fa-home"></i> Clientes</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/trips"
          ><i class="fas fa-bullhorn"></i> Viajes</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/trip-catalog"
          ><i class="fas fa-address-book"></i> Catalogo de Viajes</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sales"
          ><i class="fas fa-envelope"></i> Ventas</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/transport"
          ><i class="fas fa-file-alt"></i> Transportes</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports"
          ><i class="fas fa-calendar-alt"></i> Reportes</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-transport"
          ><i class="fas fa-file-alt"></i> Mis Transportes</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/payments"
          ><i class="fas fa-envelope"></i> Pagos</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/administration"
          ><i class="fas fa-envelope"></i> Administración</a
        >
      </li>
    </ul>
  </div>
  <div class="spacer"></div> 

  <div class="logout-section">
    <button type="button" class="logout-btn">
      <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
    </button>
  </div>
</nav>
